# Log files
*.log

# Backup directory
backup/
backup1/

# Archive directory
archive/
archive1/

# setting files
#.setting/

# Project files
#.project

# scratch file
#scratch*

# node modules
#node_module/
