# Log files
*.log

# Backup directory
backup/

# Archive directory
archive/

# setting files
/.setting

# Project files
*.project

# testing a file
myfile.txt

# testing a dir
testdir/*